/**
 * Wrap elements together in a full width, reset container
 */
.wrapper {
	@extend %clearfix;
	width: 100%;
	margin: 0;
	padding: 0;
}

/**
 * Limit elements to a consistent width
 */
.container {
	@extend %clearfix;
	max-width: $max-page-width;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Group elements in a vertical container
 */
.row {
	@extend %clearfix;
}
