/**
 * Typography variables
 */
/**
 * Grid and layout variables
 */
/* =====================================================
   Fractal UI styles
   ===================================================== */
/* Theme overrides */
a {
  color: #0066cc; }
  a:hover {
    color: #0066cc; }
  a:active {
    color: #0066cc; }

.Header {
  background-color: #7f1183; }

@font-face {
  font-family: PraterSansWeb;
  src: url("../fonts/PraterSansWeb.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: PraterSansWeb;
  src: url("../fonts/PraterSansWeb.woff") format("woff"); }

.Header-title {
  font-family: PraterSansWeb, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-bottom: .5rem; }
