

<div class="RateThisPage">
	<div class="page-rate">
		<ul class="rating">
			<li><a href="javascript:goRating(393);" title="Very Poor (1 Star)" class="one-star">Very Poor</a></li>
			<li><a href="javascript:goRating(392);" title="Poor (2 Stars)" class="two-stars">Poor</a></li>
			<li><a href="javascript:goRating(391);" title="OK (3 Stars)" class="three-stars">OK</a></li>
			<li><a href="javascript:goRating(390);" title="Good (4 Stars)" class="four-stars">Good</a></li>
			<li><a href="javascript:goRating(389);" title="Excellent (5 Stars)" class="five-stars">Excellent</a></li>
		</ul>
	</div>
</div>
