

<div class="table-responsive">
<table class="table table-info" role="grid" summary="A description of the table should go here for screenreaders.">
	<thead>
		<tr>
			<th width="200">Table Header</th>
			<th>Table Header</th>
			<th width="150">Table Header</th>
			<th width="150" class="number">Table Header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td class="number">12</td>
		</tr>
		<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td class="number">24</td>
		</tr>
		<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td class="number">36</td>
		</tr>
		<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td class="number">48</td>
		</tr>
	</tbody>
</table>
</div>
