

<ul class="sg-colors">
	<li class="sg-color">
		<div class="sg-swatch color-brand-primary"></div>
	
		<div class="sg-label">$brand-primary <span class="sg-hex">#7f1183</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-brand-secondary"></div>
	
		<div class="sg-label">$brand-secondary <span class="sg-hex">#b65e00</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-brand-theme"></div>
	
		<div class="sg-label">$brand-theme <span class="sg-hex">#ffbf47</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-white"></div>
	
		<div class="sg-label">$white <span class="sg-hex">#ffffff</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-whitesmoke"></div>
	
		<div class="sg-label">$whitesmoke <span class="sg-hex">#f4f4f4</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-white-grey"></div>
	
		<div class="sg-label">$white-grey <span class="sg-hex">#eeeeee</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-ghost-gray"></div>
	
		<div class="sg-label">$ghost-gray <span class="sg-hex">#e9e8e8</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-light-grey"></div>
	
		<div class="sg-label">$light-grey <span class="sg-hex">#d6d6d6</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-mid-grey"></div>
	
		<div class="sg-label">$mid-grey <span class="sg-hex">#706f6f</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-dark-grey"></div>
	
		<div class="sg-label">$dark-grey <span class="sg-hex">#323232</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-black"></div>
	
		<div class="sg-label">$black <span class="sg-hex">#000000</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-success"></div>
	
		<div class="sg-label">$success <span class="sg-hex">#80ab25</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-fail"></div>
	
		<div class="sg-label">$fail <span class="sg-hex">#ff0000</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-highlight"></div>
	
		<div class="sg-label">$highlight <span class="sg-hex">#ecc202</span></div>
	</li>	
	<li class="sg-color">
		<div class="sg-swatch color-blue"></div>
	
		<div class="sg-label">$blue <span class="sg-hex">#00a5db</span></div>
	</li>	
</ul>
