

<div class="sidebar" role="complementary">
	<div class="block--guide">
    	<h3 class="block__title">Back to</h3>
    	<ol>
    		<li><a href="#" title="link">Section title</a></li>
    		<li><a href="#" title="link">Section title</a></li>
    		<li><a href="#" title="link">Section title</a></li>
    		<li><a href="#" title="link">Section title</a></li>
    	</ol>
	</div>
	<div class="block">
    	<h3 class="block__title">In this section</h3>
    	<ul>
    		<li><a href="#" title="link">Related link</a></li>
    		<li><a href="#" title="link">Related link</a></li>
    		<li><a href="#" title="link">Related link</a></li>
    		<li><a href="#" title="link">Related link</a></li>
    	</ul>
	</div>
	<div class="block">
    	<h3 class="block__title">In another section</h3>
    	<ul>
    		<li><a href="#" title="link">Related link</a></li>
    		<li><a href="#" title="link">Related link</a></li>
    		<li class="active"><a href="#" title="link">Current link</a></li>
    		<li><a href="#" title="link">Related link</a></li>
    	</ul>
	</div>
</div>
