<ul class="sg-colors">
	{{#each colours}}
	<li class="sg-color">
		<div class="sg-swatch color-{{variable}}"></div>
	
		<div class="sg-label">${{variable}} <span class="sg-hex">#{{hex}}</span></div>
	</li>	
	{{/each}}
</ul>