// brand colours for reference
$ccc: #b65e00;
$ncc: #7f1183;
$hdc: #80AB25;
$nocc: #007F6B;
$nbc: #BBAB12;
$nph: #1D1D1B;
$ocs: #333399;
$nhft: #F08221;

// specify colors for site usage
$brand-primary: $ncc;
$brand-primary-lt: lighten($brand-primary,15%);
$brand-secondary: $ccc;
$brand-secondary-lt: lighten($brand-secondary,15%);
$brand-alt: #80AB25;
$brand-theme: #ffbf47;

// new
//$brand-primary-dk: #36063e;


$link: #0066cc;
$link-alt: $link;

// specify functional colors for actions
$highlight: #ecc202;
$fail: #ff0000;
$success: #80ab25;

// greys
$black: #000000; // don't use actual black
$white: #ffffff; // don't use actual white

// new
$geyser: #d9d9d9; // used as the table header
$light-grey: #d6d6d6;
$white-grey: #eeeeee;
$ghost-gray: #e9e8e8; // table row
$whitesmoke: #f4f4f4; //whitesmoke
$dark-grey: #323232;
$mid-grey: #706f6f; //Md. Grey
$blue: #00a5db; // Blue



//
//$geyser: #DBE1E3; //primarily used on borders

//$manatee: $mid-grey;
//$mine-shaft: #353535; //dark gray
//$whitesmoke: #EDF4F7; //whitesmoke
$sidebar: #f5f5f5;
$sidebar-links: #link;
$sidebar-block: transparent;


/**
 * Typography variables
 */
$base-font-size: 15;
$base-line-height-ratio: 1.4;
$base-line-height: 1.4;

$h1-font-size: 37.5;
$h2-font-size: 27;
$h3-font-size: 21;
$h4-font-size: 18;
$h5-font-size: 18;
$h6-font-size: 15;


$font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-alt: $font-family;
$font-special: 'PraterSansWeb',Arial,sans-serif;


/**
 * Grid and layout variables
 */
$max-page-width: 1170px;
$grid-gutter-base: 30px;
$grid-gutter: percentage($grid-gutter-base/$max-page-width);
$grid-gutter-half: $grid-gutter/2;
$base-spacing-unit: $base-font-size*2;
