// Variables
@import "_variables.scss";

/* =====================================================
   Fractal UI styles
   ===================================================== */


/* Theme overrides */
a {
  color: $link;

  &:hover {
    color: $link;
  }

  &:active {
    color: $link;
  }
}

.Header {
  background-color: $brand-primary;
}

@font-face {
	font-family: PraterSansWeb;
	src: url("../fonts/PraterSansWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
	font-family: PraterSansWeb;
	src: url("../fonts/PraterSansWeb.woff") format("woff");
}

.Header-title {
	font-family: PraterSansWeb, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	padding-bottom: .5rem;
}