/**
 * Generates a grid of your choosing
 */

/**
 * Pull whole grid over by one gutter width
 */
.g {
	@extend %clearfix;
	margin-left: $grid-gutter * -1;
}

.g-column {
	margin-left: $grid-gutter;
	float: left;
	width: 100% - $grid-gutter;
}