%group::after {
  content: "";
  display: table;
  clear: both;
}

%small{
  font-size:80%;
}

/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    zoom: 1;
}
