<div class="centred-content">
	<div class="ncc-title-area">
		<h1>Getting married abroad</h1>
	</div>
	<div class="ncc-main-content-area-text">
		<p>Each country has different requirements so in the first instance you must contact the government for the country in which you wish to marry in order to establish exactly what their requirements are.</p>
		
		<p>See the information on <a href="https://www.gov.uk/marriage-abroad">GOV.UK - getting married abroad</a> to find out who you need to contact in order to confirm requirements.</p>
		
		<h2>Certificate of No Impediment</h2>
		
		<p>Some countries will request a Certificate of No Impediment.  These can only be provided for British nationals via the registration office in the district in which you live.</p>
		
		<p>You will need to make an appointment to obtain a Certificate of No Impediment:</p>
		
		<a href="#" class="button--task">Book an appointment</a>
		
		<p>You must find out, from the authorities in the country in which you wish to marry, how long the certificate is valid for in that country, as it must be valid on the day of the wedding.</p>
		
		<p>You should also find out if they require you to take it to the Foreign and Commonwealth Office for legalisation (called an Apostille) once the certificate has been collected from your local registration office.</p>
		
		<p>You will need to know at least the town and country where the marriage is taking place along with any unusual spellings.</p>
		
		<h2>What do we need to bring to the appointment?</h2>
		
		<p>At the appointment you will need to provide evidence of: </p>
		
		<h3>Nationality</h3>
		
		<p>One of the following:</p>
		
		<ul>
			<li>Valid passport</li>
			<li>Nationality identity card</li>
			<li>Citizenship certificate confirming British Citizenship</li>
			<li>British birth certificates (only)</li>
			
			<ul>
				<li>If you were born prior to 1 January 1983, your full or short birth certificate</li>
				<li>If you were born after 1 January 1983, your full birth certificate which includes your parents' details <strong>plus</strong> either parent's birth certificate (short or long), if your parents were married at time of your birth.  If your parents were unmarried at the time of your birth, then only your mother's birth certificate needs to be seen.  If your parents were born outside UK then you must provide evidence of British nationality at the time of your birth.</li>
			</ul>
		</ul>
		
		<h3>Other information</h3>
			
		<p>There is a fee for booking and using this service.  If you do not bring all the required original, valid documentation we will not be able to complete your notice and a further appointment will have to be booked and paid for.</p>
		
		<aside>
			<div class="aside__container">
				<div class="aside__content">
					<div class="aside__header">
						<h3 class="aside__title">How do I find out what I need for the country we want to be married in?</h3>
					</div>
					<div class="aside__body">
						<p>Use the toolkit on GOV.UK to find out the requirements in the country in which you wish to hold your wedding.</p>
					</div>
					<div class="aside__link">
						<p><a href="https://www.gov.uk/marriage-abroad">GOV.UK: getting married abroad</a></p>
					</div>
				</div>
			</div>
		</aside>
		
		<p>Once notice is taken it is then displayed for a legal waiting period of 29 days before the Certificate of No Impediment can be issued.</p>
		
		<h3>Will our marriage be recognised in the UK?</h3>
		
		<p>As long as you follow the law for the country you marry in, and it is legally recognised by that government, then there is no reason why your marriage would not be recognised in this country. If the documents produced are in a foreign language, it is a good idea to have them translated into English and certified.</p>
		
		<p>A marriage can only be registered in one place and there is no provision in English law to register your marriage in this country if the marriage has taken place abroad.</p>
		
		<p>You may however want to consider a renewal of vows ceremony in this country to celebrate the marriage once you return home.</p>
	</div>
</div>