@font-face {
  font-family: 'PraterSansWeb';
  src: url('../fonts/PraterSansWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PraterSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PraterSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PraterSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PraterSansWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/webfont.svg#svgPraterSansWeb') format('svg'); /* Legacy iOS */
}

/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-alt;
  font-weight:300;
  line-height: $base-line-height-ratio;
}

h1, .h1 {
  padding:0;
  @include rem-fallback(margin-top,$base-font-size);
  @include rem-fallback(margin-bottom,$base-font-size);
  @include rem-fallback(font-size,$h1-font-size);
  &.ncc-section-title {
    font-family: $font-special;
    color: $brand-primary;
  }
}

h2, .h2 {
  padding:0;
  @include rem-fallback(margin-top,$base-font-size);
  @include rem-fallback(margin-bottom,$base-font-size);
  @include rem-fallback(font-size,$h2-font-size);
}
h3, .h3 {
  @include rem-fallback(margin-top,$base-font-size);
  @include rem-fallback(margin-bottom,$base-font-size);
  @include rem-fallback(font-size,$h3-font-size);
}
h4, .h4 {
  @include rem-fallback(font-size,$h4-font-size);
}
h5, .h5 {
  @include rem-fallback(font-size,$h5-font-size);
}
h6, .h6 {
  @include rem-fallback(font-size,$h6-font-size);
}