<!-- Begin .header -->
<header role="banner" class="site-header--theme">
<div class="container">
	<div class="site-logo">
		<a class="logo" href="/"><img src="/images/ncc-logo.png" class="no-scale" alt="Northamptonshire County Council"></a>
	</div>
</div>
</header>
<!-- End .header -->