<div class="vcard">
	<div class="org">Northamptonshire County Council</div>
	<div class="adr">
		<div class="street-address">John Dryden House</div>
		<span class="locality">The Lakes, Northampton</span>
		<span class="postal-code">NN4 7YD</span>,
		<abbr class="region" title="United Kingdom">UK</abbr>
	</div>
	<div class="tel">0300 126 1111</div>
</div>