

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Aside Content: Default | Simple Component Library</title>
</head>
<body>

<div class="centred-content">
	<aside>
		<div class="aside__container">
			<div class="aside__content">
				<div class="aside__header">
					<h3 class="aside__title">How do I find out what I need for the country we want to be married in?</h3>
				</div>
				<div class="aside__body">
					<p>Use the toolkit on GOV.UK to find out the requirements in the country in which you wish to hold your wedding.</p>
				</div>
				<div class="aside__link">
					<p><a href="https://www.gov.uk/marriage-abroad">GOV.UK: getting married abroad</a></p>
				</div>
			</div>
		</div>
	</aside>
</div>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

