

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Buttons As Links | Simple Component Library</title>
</head>
<body>

<!-- Start: @buttons-as-links--default -->
<a href="#" class="button" title="Button">Button</a>
<!-- End: @buttons-as-links--default -->

<!-- Start: @buttons-as-links--button-secondary -->
<a href="#" class="button--secondary" title="Button Secondary">Button Secondary</a>
<!-- End: @buttons-as-links--button-secondary -->

<!-- Start: @buttons-as-links--button-themed -->
<a href="#" class="button--alt" title="Button Themed">Button Themed</a>
<!-- End: @buttons-as-links--button-themed -->

<!-- Start: @buttons-as-links--disabled-button -->
<a href="#" class="button" title="Disabled Button">Disabled Button</a>
<!-- End: @buttons-as-links--disabled-button -->


</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

