

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Headings: Default | Simple Component Library</title>
</head>
<body>

<h1 class="ncc-section-title">Northamptonshire County Council</h1>
<h1>Northamptonshire County Council</h1>
<h2>Northamptonshire County Council</h2>
<h3>Northamptonshire County Council</h3>
<h4>Northamptonshire County Council</h4>
<h5>Northamptonshire County Council</h5>
<h6>Northamptonshire County Council</h6>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

