/*callout*/

.symbol-text-area {
	float: left;
	width: 100%;
	background-color: $whitesmoke;
	padding: 10px 0 0;
	margin-bottom: 15px;
	
	.symbol-zone {
		float: left;
		width: 10%;
	}
	
	.symbol-text {
		float: left;
		width: 80%;
		margin-left: 3px;
	}
	
	.exclamation p {
		font-size: 1.3333em;
		padding-bottom: 15px;
		display: block;
	}
}

p.custom-rteElement-Exclamation {
	display: block;
	padding: 3px 25%;
	background-color: #f4f4f4;
	margin-bottom: 10px;
	
	&::before {
		color: $brand-primary;
		content: "!";
		font-family: 'Iskoola Pota';
		font-size: 4em;
		float: left;
		margin-top: -25px;
		margin-left: 25%;
	}
}