<div class="symbol-text-area">
	<div class="symbol-zone">
		<p class="custom-rteElement-Exclamation">&nbsp;</p>
	</div>
	<div class="symbol-text exclamation">
		<p> 
			<span>If a child is in immediate danger, left alone or missing, you should contact the police directly and/or an ambulance using 
			<strong>999</strong>.</span>
		</p>
	</div>
</div>