<div class="symbol-text-area"> 
	<div class="symbol-zone"> 
		<p class="custom-rteElement-QuoteMarks">&nbsp;</p> 
	</div> 
	<div class="symbol-text"> 
		<p>They made me happy. Now it?s my turn to make them happy.</p>
		<p style="text-align: right;"> 
			<strong>Chris, aged 9</strong>
		</p> 
	</div> 
</div>