

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Button | Simple Component Library</title>
</head>
<body>

<!-- Start: @button--default -->
<button class="">Button</button>
<!-- End: @button--default -->

<!-- Start: @button--button-secondary -->
<button class="button--secondary">Button Secondary</button>
<!-- End: @button--button-secondary -->

<!-- Start: @button--button-themed -->
<button class="button--alt">Button Themed</button>
<!-- End: @button--button-themed -->

<!-- Start: @button--disabled-button -->
<button class="">Disabled Button</button>
<!-- End: @button--disabled-button -->


</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

