

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Heading Classes: Default | Simple Component Library</title>
</head>
<body>

<h6 class="h1">Northamptonshire County Council</h6>
<h1 class="h2">Northamptonshire County Council</h1>
<h2 class="h3">Northamptonshire County Council</h2>
<h3 class="h4">Northamptonshire County Council</h3>
<h4 class="h5">Northamptonshire County Council</h4>
<h5 class="h6">Northamptonshire County Council</h5>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

