

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Ordered List: Default | Simple Component Library</title>
</head>
<body>

<ol>
	<li>List item with a much longer description or more content.</li>
	<li>List item.</li>
	<li><a href="#">This is a link.</a></li>
	<li>List item.</li>
	<li>List item with a much longer description or more content.</li>
	<li><a href="#">This is a link.</a></li>
</ul>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

