

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FOUC beater -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <link media="all" rel="stylesheet" href="../../css/styles.css">
    <title>Select Menu: Default | Simple Component Library</title>
</head>
<body>

<label for="select">Select</label>
<select id="select">
	<optgroup label="Option Group">
		<option>Option One</option>
		<option>Option Two</option>
		<option>Option Three</option>
	</optgroup>
</select>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</html>

